/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* My code */

* {
  text-decoration: none;
}

body {
  background-color: white;
}

header {
  background-color: whitesmoke;
  height: 100px;
  width: 100%;
}

.header-brand {
  color: black;
  display: block;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
  margin: 0 auto;
  padding: 20px 0px;
  text-align: center;
  text-transform: uppercase;
}

header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0px 16px;
}

header nav ul li a {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  text-transform: uppercase;
}

.header-cases {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .header-brand {
    border-right: black 2px solid;
    float: left;
    margin: 32px 0px;
    padding: 0px 20px 0px 40px;
    line-height: 36px;
    text-align: left;
  }

  header nav ul {
    float: left;
    margin: 20px 0px 0px 20px;
  }

  header nav ul li a {
    line-height: 60px;
  }

  .header-cases {
    border: black 1px solid;
    color: black;
    display: block;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    line-height: 38px;
    margin-top: 30px;
    margin-right: 40px;
    padding: 0px 20px;
    text-transform: uppercase;
  }
}

/*index*/

.index-banner {
  background-image: url(img/hehe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 100px);
  width: 100%;
  display: table;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px black;
}

.index-banner h2 {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 28px;
  font-weight: 100;
  line-height: 40px;
  text-align: center;
  font-style: italic;
}

.index-boxlink div {
  background-color: #d3d3d3;
  height: 100px;
  margin: 16px 16px 0px;
  width: calc(100% - 32px);
}

.index-boxlink div h3 {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }

  .index-banner {
    height: 450px;
  }

  .index-banner h2 {
    display: block;
    width: 480px;
    margin: 0 auto;
  }

  .index-boxlink {
    overflow: hidden;
  }

  .index-boxlink div {
    background-color: #d3d3d3;
    height: 230px;
    margin: 20px 10px 0px;
    float: left;
  }

  .index-box-square {
    width: calc(25% - 20px) !important;
  }

  .index-box-rectangle {
    width: calc(50% - 20px) !important;
  }

  .index-boxlink div h3 {
    line-height: 230px;
  }
}

/*cases*/

.wrapper {
  margin-top: 10px;
}

.cases-links {
  overflow: hidden;
  margin-bottom: 30px;
}

.cases-links .wrapper div {
  display: block;
  background-color: #e3e3e3;
  height: 100px;

  width: 95%;
  margin: 10px auto 0;
}

.wrapper h2 {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 15px;
  margin: 0 auto;
}

.wrapper div p {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    margin-top: 10px;
  }

  .cases-links {
    overflow: hidden;
    margin-bottom: 30px;
  }

  .cases-links .wrapper div {
    background-color: #e3e3e3;
    height: 230px;
    float: left;
    width: 230px;
    margin: 20px 10px 0px;
  }

  .wrapper h2 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    padding-left: 10px;

    width: 100%;
  }

  .wrapper div p {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 230px;
    text-align: center;
    text-transform: uppercase;
  }
}

/*CASE*/

.case-vid .wrapper h2 {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.case-vid .wrapper video {
  display: block;
  margin: 0 auto;
  padding: 30px 0;
  width: 50%;
}

.case-vid .video-description h2 {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  padding-left: 0px;
}

.case-vid .video-description p {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

@media only screen and (min-width: 1000px) {
  .case-vid .wrapper h2 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }

  .case-vid .wrapper video {
    display: block;
    margin: 0 auto;
    padding: 30px 0;
    width: 50%;
  }

  .case-vid .video-description h2 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    padding-left: 0px;
  }

  .case-vid .video-description p {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
    font-weight: 600;
    column-count: 3;
    column-gap: 30px;
    line-height: 1;
  }
}

/*footer*/

footer {
  background-color: #111;
  margin-top: 20px;
  padding: 40px 40px;
  overflow: hidden;
  width: calc(100%-80px);
}

footer ul {
  width: fit-content;
  float: left;
  padding-left: 20px;
}

footer ul li {
  display: block;
  list-style: none;
}

footer ul li a {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  line-height: 33px;
}

.footer-link-cases {
  display: none;
}

.footer-sm {
  width: 50px;
  float: right;
}

.footer-sm img {
  width: 100%;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1000px) {
  .footer-link-cases {
    display: block;
  }

  footer ul {
    padding-right: 30px;
  }

  footer ul li p {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
    line-height: 33px;
  }
}
